<style>
table, td, th
{
border:1px solid green;
}
th
{
background-color:green;
color:white;
}
td
{
padding:15px;
}
</style>

<h1>Listing wagonrs</h1>

<%= form_tag wagonrs_path, :method => :get do -%>
  <b>Model:</b><%= select_tag :model, options_for_select(@model.map(&:model.to_proc)) %>
  <%= submit_tag 'Get List' %>
<% end -%>
</br>
<table>
  <thead>
    <tr>
       <!-- <th>Olx</th> -->
      <th>Sl. No.</th>
      <th>Model</th>
      <th>Mileage</th>
      <th>Price</th>
      <th>Name</th>
      <th>Base link</th>
      <th></th>
      <!-- <th></th> -->
      <!-- <th></th> -->
    </tr>
  </thead>

  <tbody>
    <% i = 0 %>
    <% @wagonrs.each do |wagonr| %>
      <tr>
        <!-- <td><%= wagonr.olx_id %></td>-->
        <td><%= i += 1 %></td>
        <td><%= wagonr.model %></td>
        <td><%= wagonr.Mileage %></td>
        <td><%= wagonr.price %></td>
        <td><%= wagonr.name %></td>
        <td><%= link_to 'Original Page', wagonr.base_link[5..-1] %></td>
        <td><%= link_to 'Show', wagonr %></td>
        <!-- <td><%#= link_to 'Edit', edit_wagonr_path(wagonr) %></td> -->
        <!-- <td><%#= link_to 'Destroy', wagonr, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wagonr', new_wagonr_path %>
